.loginSignUpContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(206, 214, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.loginSignUpBox {
  border-radius: 20px;
  background-color: white;
  width: 30%;
  height: 60%;
  box-sizing: border-box;
  overflow: hidden;
}

.login_signUp_toggle {
  display: flex;
  height: 4rem;
}

.login_signUp_toggle > p {
  color: black;
  font: 300 1rem roboto;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login_signUp_toggle > p:hover {
  color: tomato;
}

.loginSignUpBox > div > button {
  background-color: tomato;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 70%;
  transition: all 0.5s;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 70%;
  transition: all 0.5s;
  transform: translateY(300%);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.loginForm > div > input,
.signUpForm > div > input {
  margin: auto;

  padding: 1vmax 5vmax;
  padding-right: 1vmax;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9rem cursive;
  outline: none;
}

.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(2.5rem);
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.567);
}

.loginForm > a {
  color: rgb(12, 69, 192);
  text-decoration: none;
}

.loginBtn,
.signUpBtn {
  border: none;
  color: white;
  background-color: tomato;
  font: 300 0.9rem roboto;
  width: 60%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(226, 87, 62);
}

.shiftToLeft {
  transform: translateX(-100%);
}

.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

#registerImage > img {
  position: absolute;
  width: 3vmax;
  border-radius: 100%;
  transform: translateX(2rem);
}
