.productsContainer {
  margin-top: 7rem;
  min-height: 30vh;
}

.productHeading {
  margin: 2vmax auto;
  width: 15vw;
  font: 600 1.5rem roboto;
  letter-spacing: 0.1rem;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.67);
  text-align: center;
  text-decoration: underline;
}

.productsStach {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5rem;
  justify-content: center;
}

/* pagination */

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: transparent;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 7px 0 0 7px;
}

.page-item:last-child {
  border-radius: 0 7px 7px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.9vmax roboto;
  color: rgb(80, 80, 80);
  transition: all 0.5s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(80, 80, 80);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}

/* fiter box */

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

.categoryBox {
  padding: 0;
  margin-bottom: 1rem;
}

.category-link {
  list-style: none;
  font: 400 1rem roboto;
  margin: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.category-link:hover {
  font-size: 1.2rem;
  color: tomato;
}
