.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
}

.loading>div{
    width: 15vmax;
    height: 15vmax;
    border-bottom: 5px solid rgb(110, 110, 110);
    border-radius: 50%;

    animation: loadingRotate 600ms linear infinite ;
}

@keyframes loadingRotate {
    to{
        transform: rotateZ(-360deg);
    }
}