* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  cursor: url("./Images/cursor.png"), auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
  margin: 0;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}
